<link href="../CSS/bootstrap.min.css" rel="stylesheet" />
<link href="../CSS/App.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color: teal;"">
    <a class="logoAnchor navbar-brand" href="./index.html"><strong><big>Devathon</big></strong></a>
    <div style="float: right;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./profileList.html">Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./form.html">Build a Profile</a>
            </li>
            <li class="nav-item">
                <a class="ml-2 btn btn-outline-primary nav-link" href="./login.html">Log In</a>
            </li>
            <li class="nav-item">
                <a class="ml-2 btn btn-outline-secondary nav-link" href="./register.html">Register</a>
            </li>
        </ul>
    </div>
</nav>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text"
                        style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                btn btn-sm btn-outline-secondary
                                view-btn
                                w-100
                                text-center
                            " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                btn btn-sm btn-outline-secondary
                                view-btn
                                w-100
                                text-center
                            " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Read More
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        Share
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body p-5 summary-parent">
                    <p class="card-text summary summary-text" style="height: 10ch; text-overflow: ellipsis; overflow: hidden">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sapiente harum facere maiores
                        laboriosam? Blanditiis placeat, odit sapiente modi unde numquam cumque atque est iste, earum quibusdam
                        illo magni ullam?
                    </p>
                    <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">Faculty Name</a>
                    </p>
                    <br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="./profilePage.html">
                        Contact
                    </a>
                    <br><br>
                    <a type="button" class="
                                        btn btn-sm btn-outline-secondary
                                        view-btn
                                        w-100
                                        text-center
                                    " href="#">
                        View Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container" style="text-align: center">
        <p>
            Copyright © 2021 Devathon
        </p>
        <small style="font-weight: 550">Made by
            <a target="_blank" href="https://www.linkedin.com/in/abhishek-upadhayayula-a541ba1b8/">Abhishek</a></small>
    </div>
</footer>